<!-- app/views/flats/show.html.erb -->
<div class="house" style="background-image: url(<%= @flat.picture_url %>)"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="flat-show-card">
        <h1><%= @flat.name %></h1>
        <%= link_to 'Edit', edit_flat_path(@flat), class: "ml-3 text-warning" %>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="flat-show-card">
        <h5>Book this place!</h5>

        <form action="">
          <div class="input-group">
            <span class="input-group-addon">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-addon">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>
      <div class="flat-show-card">
        <h3>Details</h3>
        <div>
          <i class="fas fa-users"></i>
          <span><%= @flat.number_of_guests %></span>
          <i class="fas fa-euro-sign"></i>
          <span><%= @flat.price_per_night %></span>
        </div>
      </div>
      <div class="flat-show-card">
        <div class="flex-align-between">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fab fa-facebook-square fa-2x mr-2"></i>
            <i class="fab fa-twitter-square fa-2x mr-2"></i>
            <i class="fab fa-pinterest-square fa-2x mr-2"></i>
            <i class="fas fa-envelope-square fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
